* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #aaa;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2px;
}

.calc-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 2px;
}
